@model IEnumerable<ASP_AIS_Policlinic.Models.Disease>

@{
    ViewData["Title"] = "AddDiseaseToDiseaseType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Назначение диагнозу его тип</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiseaseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DiseaseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <form method="post">
                        <input type="hidden" name="diseaseTypeId" value="@ViewBag.DiseaseTypeId">
                        <input type="hidden" name="diseaseId" value="@item.Id">
                        <input type="submit" value="Выбрать" class="btn btn-success">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
