@model IEnumerable<ASP_AIS_Policlinic.Models.Disease>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Раздел о диагнозах</h1>
@if (!User.IsInRole("guest"))
{
    <p>
        <a asp-action="Create">Создать новый</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            }
            
            <th>
                @Html.DisplayNameFor(model => model.DiseaseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visiting.DateVisiting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                }
                
            <td>
                @Html.DisplayFor(modelItem => item.DiseaseType.NameDisease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visiting.DateVisiting)
            </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                    </td>
                }
            </tr>
}
    </tbody>
</table>
