@model IEnumerable<ASP_AIS_Policlinic.Models.Visiting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Раздел о встречах</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Создать</a>
    </p>
}
@if (!User.IsInRole("guest"))
{
    <p>
        <a asp-action="GetReport" asp-route-dates="@ViewBag.DateRange">Создать отчет о визитах</a>
    </p>
}
<form asp-action="Index">
<table class="table">
    <thead>
        <tr>
            <th>
                Даты
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" id="dateRange" value="@ViewBag.DateRange" name="dateRange"/>
                <input type="submit" value="Подтвердить" class="btn btn-primary" />
                   @* <a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
            </td>
        </tr>
    </tbody>
</table>
</form>
<form asp-action="Index">
    <input type="hidden" value="@null" name="dateRange" />
    <input type="submit" value="Сбросить" class="btn btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVisiting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.FirstName)
                    @Html.DisplayFor(modelItem => item.Doctor.LastName)
                    @Html.DisplayFor(modelItem => item.Doctor.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
                    @Html.DisplayFor(modelItem => item.Patient.LastName)
                    @Html.DisplayFor(modelItem => item.Patient.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVisiting)
            </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                    </td>
                }
               
        </tr>
}
    </tbody>
</table>
