@model IEnumerable<ASP_AIS_Policlinic.Models.Visiting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Раздел о встречах</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVisiting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.FirstName)
                    @Html.DisplayFor(modelItem => item.Doctor.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
                    @Html.DisplayFor(modelItem => item.Patient.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVisiting)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
